:root {
  /* Gruvbox-dark-medium by Chris Kempson (http://chriskempson.com) */
  --base0X: #1d2021;
  --base00: #282828;
  --base01: #3c3836;
  --base02: #504945;
  --base03: #665c54;
  --base04: #bdae93;
  --base05: #d5c4a1;
  --base06: #ebdbb2;
  --base07: #fbf1c7;
  --base08: #fb4934;
  --base09: #fe8019;
  --base0A: #fabd2f;
  --base0B: #b8bb26;
  --base0C: #8ec07c;
  --base0D: #83a598;
  --base0E: #d3869b;
  --base0F: #d65d0e;

  --tridactyl-fg: var(--base05);
  --tridactyl-bg: var(--base00);

  --tridactyl-scrollbar-color: var(--base03)
      var(--tridactyl-fg);

  --tridactyl-cmdl-fg: var(--base07);
  --tridactyl-cmdl-bg: var(--tridactyl-bg);

  --tridactyl-header-first-bg: var(--base0X);
  --tridactyl-header-second-bg: var(--tridactyl-header-first-bg);
  --tridactyl-header-third-bg: var(--tridactyl-header-first-bg);

  --tridactyl-cmplt-border-top: 1px solid var(--base0X);

  --tridactyl-url-fg: var(--base0C);
  --tridactyl-url-bg: var(--tridactyl-bg);

  --tridactyl-of-fg: var(--base08);
  --tridactyl-of-bg: var(--base0X);

  --tridactyl-hintspan-fg: var(--base07);
  --tridactyl-hintspan-bg: var(--base00);

  --tridactyl-hint-active-fg: var(--base00);
  --tridactyl-hint-active-bg: var(--base0D);
  --tridactyl-hint-active-outline: 1px solid var(--base00);

  --tridactyl-hint-bg: rgba(40, 40, 40, 0.2);
  --tridactyl-hint-outline: 1px solid var(--tridactyl-hintspan-bg);

  --tridactyl-highlight-box-bg: var(--base0B);
  --tridactyl-highlight-box-fg: var(--base00);
}

:root.TridactylOwnNamespace {
  background: var(--tridactyl-header-first-bg) !important;
}

:root.TridactylOwnNamespace * {
  font-size: 0.9rem !important;
}

:root.TridactylOwnNamespace #completions .focused {
  background: var(--base01) !important;
  color: var(--base0A) !important;
}

:root.TridactylOwnNamespace #completions .focused .url {
  background: var(--base01) !important;
  color: var(--base0A) !important;
}
