<head>
<META http-equiv="content-type" content="text/html;charset=utf-8">
<title>Bookmark file</title>
</head>
     You can delete links using the remove bookmark command.  It is usually
     the 'R' key but may have been remapped by you or your system
     administrator.<br>
     This file also may be edited with a standard text editor to delete
     outdated or invalid links, or to change their order.

<!--
Note: if you edit this file manually
      you should not change the format within the lines
      or add other HTML markup.
      Make sure any bookmark link is saved as a single line.
-->

<p>
<ol>
<LI><a href="http://www.catb.org/~esr/faqs/hacker-howto.html">How To Ask Questions The Smart Way</a>
<LI><a href="https://stackoverflow.com/search">How do I ask a good question? - Help Center - Stack Overflow</a>
<LI><a href="https://zsh.sourceforge.io/Doc/Release/index.html#Top">The Z Shell Manual</a>
<LI><a href="http://mywiki.wooledge.org/BashPitfalls">BashPitfalls</a>
<LI><a href="https://unix.stackexchange.com/a/548749">Interesting Info About Control Characters</a>
<LI><a href="https://discussions.apple.com/thread/8376808?answerId=33352320022#33352659022">Humorous Apple Community Comment</a>
<LI><a href="https://randomgeekery.org/post/2018/02/setting-task-dependencies-in-taskwarrior/">Setting Task Dependencies in Taskwarrior | Post | Random Geekery</a>
<LI><a href="https://stackoverflow.com/q/21166739">Bash positional parameters</a>
<LI><a href="https://git-scm.com/book/en/v2/Git-Tools-Rewriting-History">Git - Rewriting History</a>
<LI><a href="https://www.gnu.org/software/bash/manual/html_node/Shell-Parameter-Expansion.html">Shell Parameter Expansion (Bash Reference Manual)</a>
<LI><a href="https://stackoverflow.com/questions/16590160/remove-branches-not-on-remote">Git - Remove Branches not on Remote - Stack Overflow</a>
<LI><a href="https://stackoverflow.com/a/26793865">Vim - Surround visual selection with quotes - Stack Overflow</a>
<LI><a href="https://thoughtbot.com/blog/autosquashing-git-commits">Git rebase autosquash</a>
